h1{
    text-align: center;
    color: white;
    background-color: #06c1cf;
    line-height: 100px
    margin: 100%;
    padding: 150px;
}

p{
   text-align: center; 
   margin: -110px;
}

.btn{
    float: right;
  
    margin: 20px;
}




 


