html, body {
    height: 100%;
}

.navbar-brand {
    background: url(../images/vertical.png) no-repeat center;
    background-size: contain;
    width: 200px;
    text-indent: 9999px;
}

.hero-area{
    text-align: center;
    color: white;
    background: #0079BF;
    background: linear-gradient(135deg, #0079Be 0, #5068C5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-1', endColorstr='@color-2', GradientType=1);
 
    color: #ffffff;
    padding-top: 4em;
}
.hero-area.dash-hero {
    margin-top: 10px;
}

.jumbotron.hero-area.landing-hero-area {
    background: linear-gradient(135deg, #0079BF 0, #5067C5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-1', endColorstr='@color-2', GradientType=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background: url(../images/baked-blurred-background-cake-1998635-darken.jpg) center left / cover no-repeat #0079be;
    color: white;
    padding-top: 4em;
}
.hero-area h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hero-area a {
    color: white;
}

.hero-area .list-group a {
    color: black;
}
a.underline {
    text-decoration: underline;
}
.file-upload {
    border: 2px dashed darkslategray;
    width: 100%;
    padding: 20px 30px;
    text-align: center;
    font-size: 20px;
}
.file-upload p, .file-upload .btn {
    margin: 15px 0;
}
.hero-area .navbar.is-top {
    background: transparent !important;
}

/* is-top */