.hero-area{
    text-align: center;
    color: white;
    background-color: #06c1cf;
}
.jumbotron.hero-area {
    background: url(/baked-blurred-background-cake-1998635-darken.jpg) center left / cover no-repeat #0079be;
    color: white;
    margin-bottom: 0;
}
.hero-area h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hero-area a {
    color: white;
}
a.underline {
    text-decoration: underline;
}