nav{
    float: right;
}


h1{
 color: black;
 text-align: center;
 font-size: 45px;
 padding: 75px;
 float: right;
 }



.card{
box-shadow: 3px 3px 3px #8D9696;
margin: 45px;
padding: 35px;
}

.btn{
font-size: 20px;
margin: 25px;
}