
nav{
    float: right;
}


h1{
 color: black;
 text-align: center;
 font-size: 45px;
 padding: 75px;
 
}

.card{
box-shadow: 3px 3px 3px #8D9696;
margin: 0px;

}

.btn{
font-size: 20px;
margin: 25px;
}


.img{
    display: center;
}

.header {
    width: 610px;
    margin: 0 auto;
}
.header img {
    float: left;
    max-width: 170px;
    max-height: 130px;
    border: 2px solid #DD0000;
}

.header h1 {
    padding: 45px;
}

.header-image {
    background-position: center;
    background-size: cover;
    height: 130px;
    width: 130px;
        border: 2px solid #DD0000;
        float: left;
}